html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.buttonModifier {
  width: 58px;
  height: 16px;
  top: 601px;
  left: 272px;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  border: none;
  padding-left: 54px;
  padding-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
}

.buttonModifierTitre {
  display: flex;
  width: 58px;
  height: 16px;
  top: 601px;
  left: 272px;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  border: none;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  padding: 0px;
  margin-bottom: 25px;
}

.openModalBtn {
  width: 58px;
  height: 16px;
  top: 601px;
  left: 272px;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  border: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  padding-left: 20px;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}


.modal-content {
  width: 630px;
  border-radius: 10px;
  background: #ffffff;
  margin: auto;
}


  
  

.closeModal {
  height: 12.01px;
  width: 12.01px;
  left: 6px;
  top: 6px;
  color: #000000;
  float: right;
  padding: 36px 36px 0px 0px;
}

.closeModal:hover,
.closeModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-content h2 {
  height: 30px;
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #000000;
  padding: 0px 228px 42px 229px;
}

.gallery-modal {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0px;
  justify-items: stretch;
  align-items: center;
  grid-auto-flow: dense;
  margin-top: 20px;
  padding: 0px 105px 0px 105px;
}

.gallery-modal figure {
  width: 100%;
  margin: 0;
  position: relative;
}

.gallery-modal figure > img {
  width: 90%;
  height: 104px;
  object-fit: cover;
}

.trash {
  color: #ffffff;
  /*margin: auto;*/
  height: 9px;
  width: 9px;
}

.backicons {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17px;
  width: 17px;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.expand {
  color: #ffffff;
  height: 11px;
  width: 11px;
}

.backiconsExpand {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17px;
  width: 17px;
  border-radius: 2px;
  position: absolute;
  right: 30px;
  top: 10px;
}
#addPhotoBtn {
  width: 237px;
  height: 36px;
  border-radius: 60px;
  background: #1d6154;
  color: #ffffff;
}

.border {
  border-bottom: 1px solid #b3b3b3;
  width: 420px;
  margin: 67px 0px 38px 0px;
}

.borderAjout{
  border-bottom: 1px solid #b3b3b3;
  width: 420px;
  margin: 47px 0px 32px 0px;
}

.edit-button {
  height: 17px;
  font-family: "Syne";
  font-weight: 700;
  background: transparent;
  border: none;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.delete-button {
  height: 17px;
  font-family: "Syne";
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin-top: 10px;
  color: #d65353;
  cursor: pointer;
  padding: 32px 0px 48px 0px;
}

.modalAjout {
  width: 630px;
  height: 670px;
  border-radius: 10px;

}


.arrowLeft {
width: 21px;
height: 21px;
color: black;
left: 6px;
  top: 6px;
  
  float: right;
  padding: 36px 36px 0px 0px;

}




.blueBorder {
  width: 420px;
  height: 169px;
  top: 786px;
  left: 510px;
  border-radius: 3px;
  background: #e8f1f6;
  margin: 30px 105px 50px 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconsPicture {
  width: 58px;
  height: 58px;
}
.blueBorder label {
  width: 178px;
  height: 38px;
  top: 881px;
  left: 633px;
  border-radius: 50px;
  background: #cbd6dc;
  color: #306685;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#image {
  display: none;
}

.formatTexte {
  font-family: Work Sans;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
  letter-spacing: 0em;
  text-align: center;
  width: 94px;
  top: 924px;
  left: 673px;
  color: #444444;
}
.imageError {
  font-family: Work Sans;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
  letter-spacing: 0em;
  text-align: center;
  width: 94px;
  top: 924px;
  left: 673px;
  color: #444444;
}
.validerButton {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
}

.validerButton input:disabled {
  width: 237px;
  height: 36px;
  border-radius: 60px;
  background: #a7a7a7;
  color: white;
  border: none;
}
.validerButton input:enabled {
  background: #1d6154;
  width: 237px;
  height: 36px;
  border-radius: 60px;
  color: white;
  border: none;
}

.imageError {
  text-align: center;
  color: red;
}

#ajoutPicture form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
}

#ajoutPicture input {
  width: 420px;
  height: 51px;
  top: 1011px;
  left: 510px;
  background: #ffffff;
  box-shadow: 0px 4px 14px 0px #00000017;
  border: none;
  margin: 1em 0 1em 0;
}
#ajoutPicture label {
  width: 65px;
  height: 16px;
  top: 1083px;
  left: 510px;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #3d3d3d;
}
#ajoutPicture textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#ajoutPicture select {
  width: 420px;
  height: 51px;
  top: 1011px;
  left: 510px;
  background: #ffffff;
  box-shadow: 0px 4px 14px 0px #00000017;
  border: none;
  margin: 1em 0 1em 0;
}

.titleError {
  color: black;
  font-family: Work Sans;
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 30px;
}

.categoryError {
  color: black;
  font-family: Work Sans;
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.preview img {
  width: 129px;
  height: 193px;
}

.preview {
  display: flex;
  justify-content: center;
  border-radius: 3px;
  background: #e8f1f6;
  margin: 30px 105px 50px 105px;
  display: flex;
}

.hidden {
  display: none;
}
