html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.blackBloc {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  width: 100%;
  height: 59px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.buttonModifierTitre{
  display: flex;
  width: 58px;
  height: 16px;
  top: 601px;
  left: 272px;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  border: none;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  padding: 0px;
  margin-bottom: 25px;
}

.buttonEdition {
  height: 19px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  border: #000000;
  color: #ffffff;
  background: #000000;
  padding-top: 12px;
}
.publier {
  width: 216px;
  height: 38px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
  border-radius: 60px;
}

.buttonModifier {
  width: 58px;
  height: 16px;
  top: 601px;
  left: 272px;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  border: none;
  padding-left: 58px;
  padding-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
}

#openModalBtn{
  width: 58px;
  height: 16px;
  top: 601px;
  left: 272px;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  border: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
}

.modal {
  display: none;
  position: fixed;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: absolute;
  width: 630px;
  height: 731px;
  left: 405px;
  top: 660px;
  border-radius: 10px;
  background: #ffffff;
}

.closeModal {
  height: 12.01px;
  width: 12.01px;
  left: 5.99px;
  top: 6px;
  color: #000000;
  float: right;
  padding: 36px 36px 0px 0px;
}

.closeModal:hover,
.closeModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-content h2 {
  height: 30px;
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #000000;
  padding: 0px 228px 42px 229px;
}

.gallery-modal {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0px;
  justify-items: stretch;
  align-items: center;
  grid-auto-flow: dense;
  margin-top: 20px;
  padding: 0px 105px 0px 105px;
}

.gallery-modal figure {
  width: 100%;
  margin: 0;
  position: relative;
}

.gallery-modal figure > img {
  width: 90%;
  height: 104px;
  object-fit: cover;
}



.trash{
  color: #ffffff;
  /*margin: auto;*/
  height: 9px;
  width: 9px;

}

.backicons{
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17px;
  width: 17px;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  top: 10px;

}
#addPhotoBtn {
  width: 237px;
  height: 36px;
  border-radius: 60px;
  background: #1d6154;
  color: #ffffff;
}

.border {
  border-bottom: 1px solid #b3b3b3;
  width: 420px;
}

.edit-button {
  height: 17px;
  font-family: "Syne";
  font-weight: 700;
  background: transparent;
  border: none;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.delete-button {
  width: 230px;
  height: 17px;
  font-family: "Syne";
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin-top: 10px;
  color: #d65353;
  cursor: pointer;
}

.hidden {
  display: none;
}
