html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .modal{
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    height: 100% ;
    background-color: rgba(0, 0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .modalContent{
    width: 630px;
    height: 731px;
    background-color: white;


  }


.closeModal{
  display: flex;
  justify-content: right;
  text-decoration: none;
}

.galleriePhoto figure{
  width: 78,12px;
  height: 104,08px ;

  


} 

  
  .hidden{
    display: none;  
  
  }
  